body {
  margin: 0;
  padding: 0;
}

#controlButtons {
  top: 65%;
  left: 50%;
  margin-left: -200px;
  position: fixed;
  width: 400px;
  height: 100px;
  #flowButtons {
    text-align: center;
    #nextParagraph, #nextSentence, #previousParagraph, #previousSentence {
      width: 70px;
      min-width: 70px;
    }
  }
  #speedButtons {
    text-align: center;
    text-align: center;
    margin-top: 20px;
  }
}

.sr-reader {
  width: 480px;
}