body {
  margin: 0;
  padding: 0;
}

#content {
  top: 20%;
  left: 50%;
  margin-left: -200px;
  position: fixed;
  width: 400px;
  height: 600px;
  #header {
    width: 300px;
    /*margin-left: -20px;*/
  }
  #urlBlock {
  }
  #controlButtons {
    margin-top: 200px;
    width: 100%;
    height: 100px;
    #flowButtons {
      text-align: center;
      #nextParagraph, #nextSentence, #previousParagraph, #previousSentence {
        width: 70px;
        min-width: 70px;
      }
    }
    #speedButtons {
      text-align: center;
      margin-top: 20px;
    }
  }
}
.sr-reader {
  width: 480px;
}

.sr-reader.in {
  top: 40%;
}

.hide {
  display: none;
}

#forkme {
  img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}
